{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags %}
      <!-- Sidebar -->
<div id="sidebar-wrapper" style="background-image:  url('{% static '/images/cover_clear_2.jpeg' %}')">
      <div class="sidebar-content">
      <img class="sidebar-image faded" src="{% static '/images/basel_cover.jpeg' %}" alt="">
      <p>
            "أَنا جَيِّدٌ، أُعاني قَليلًا مِنَ الوَحدةِ والاغترابِ كالعادَةِ، يَبدو أنّهُ أصبَحَ مألوفًا عندي لِدرجةِ أنّه لَم يَعُدْ غَريبًا عَلَيّ، القَراراتُ الصَّعبةُ تَحتاجُ يا عَزيزي إلى حَزْمٍ وَجَزْمٍ، لكن بإمكاني أن أدَلّكَ عَلى شَيْءٍ يُخفّفُ عنك بعضًا مِن ألَمك، الأمرُ فيهِ ألَمٌ بِكُلّ تأكيدٍ، حاوِلْ أن تتذكّرَ أنَّ أزمتكَ الوجوديّةَ فعلًا ترتبطُ بقضيّةٍ ساميةٍ أكبر من أيّ صراعٍ آخر، دَعْ هذا الأمرَ في رأسك، سَيُساعدُك على تخطّيهِ، دَعْ فِلسطينَ أمامَ عُيونِكَ."


      </p>
      </div>
</div>
      <!-- /#sidebar-wrapper -->
